.authors h3 {
  margin-bottom: 20px;
}

.authors ul {
  list-style: square;
  padding-left: 30px;
}

.authors li {
  margin-bottom: 20px;
}

.authors a {
  text-decoration: none;
}

.authors a:hover {
  text-decoration: underline;
}
